---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { SITE_TITLE, SITE_URL } from '../consts';

interface Props {
	title: string;
	description: string;
	image?: string;
	keywords?: string;
	author?: string;
	robots?: string;
	ogType?: string;
	canonicalUrl?: string;
}

const { 
	title, 
	description, 
	image = '/jitan-bg.png',
	keywords,
	author,
	robots,
	ogType = 'website',
	canonicalUrl
} = Astro.props;

const canonicalURL = canonicalUrl ? new URL(canonicalUrl) : new URL(Astro.url.pathname, SITE_URL);
const isProd = import.meta.env.MODE === "production";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/icons/favicon-new.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" title={SITE_TITLE}	href={new URL('rss.xml', SITE_URL)} />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
{keywords && <meta name="keywords" content={keywords} />}
{author && <meta name="author" content={author} />}
{robots && <meta name="robots" content={robots} />}

<!-- Open Graph / Facebook -->
<meta property="og:type" content={ogType} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Yandex.Metrika counter -->
{isProd &&
<script type="text/javascript" >
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	m[i].l=1*new Date();
	for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
	k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
	ym(100451952, "init", {
		 clickmap:true,
		 trackLinks:true,
		 accurateTrackBounce:true,
		 webvisor:true
	});
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/100451952" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
}
 <!-- /Yandex.Metrika counter -->