---
import '../styles/global.css';
import type { CollectionEntry  } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CommonCTA from '../components/CommonCTA.astro';

type Props = CollectionEntry<'caseStudies'>['data'];

const { title, pageTitle, seoTitle, summary, description, pubDate, updatedDate, heroImage, articleTag, stats,
	testimonial, testimonialAuthor, testimonialAuthorTitle, testimonialAuthorCompany, testimonialAuthorImage
 } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title={seoTitle} description={description} image={heroImage} />		
		<style is:global>
			.content-slot {
				color: #364153;
				font-size: 18px;
			}
			.content-slot h2 {
				color: #eb7329 !important;
				margin-top: 25px;
				margin-bottom: 0px;
				font-size: 30px;
			}

			.content-slot h3 {
				color: #1e2939  !important;
				margin-top: 20px;
				margin-bottom: 5px;
				font-size: 25px;
			}

			.content-slot h2 + h3 {
				margin-top: 0px;
			}

			.content-slot h2:first-child {
				margin-top: 0px;
			}

			.content-slot p {
				color: #364153;
				font-size: 18px;
			}

			.content-slot ul {
				list-style-type: auto;
				margin-left: 20px;
				font-size: 18px;
			}

			.content-slot ul li > ul {
				list-style-type: disc;
			}

			.content-slot strong {
				color: #364153;
				font-weight: 600;
			}

			.content-slot p strong {
				margin-top: 15px;
			}

			.content-slot strong a:hover{
				text-decoration: underline;
			}
			@media screen and (max-width: 768px) {
				.content-slot h2 {
					font-size: 22px;
				}
				.content-slot h3 {
					font-size: 20px;
				}
				.content-slot p, .content-slot ul li {
					font-size: 17px;
				}
			}
		</style>
	</head>

	<body>
		<Header />

		<!-- Hero -->
		<section class="bg-gray-100 mx-2">
			<div class="grid bg-white max-w-screen-xl px-4 py-4 md:py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 rounded-b-2xl">				
				<div class="mr-auto place-self-center lg:col-span-7 p-5 md:p-10 md:pr-30">
					<!-- Tags -->
					<span class="text-primary-500 mb-2">Case Studies</span>

					<h1 class="max-w-2xl mb-1 text-3xl font-bold tracking-wide leading-tight">{pageTitle}</h1>
					<p class="max-w-2xl font-light text-gray-800 md:text-xl my-3">{summary}</p>
					<a href="/enterprise-migration-consultation" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center bg-secondary-600 hover:bg-secondary-800 text-white rounded-lg transition">
						Get a Free Strategy Call
					</a> 					
				</div>    
				<div class="flex justify-center sm:w-full sm:mt-4 lg:mt-0 lg:col-span-5 lg:flex">
					{heroImage && <img src={heroImage} alt={seoTitle} class="rounded-3xl shadow-xl w-full max-w-2xl md:w-2xl border-4 border-primary-100" />}
				</div>           
			</div>
		</section>
		
		<!-- Stats -->
		<section class="bg-gray-100 py-5 mx-2 sm:mx-0">
			<div class="bg-primary-50 max-w-screen-xl mx-auto py-10 px-5 md:px-5 rounded-2xl text-center border-4 border-primary-200">	
				<span class="text-primary-500 mb-2 font-bold tracking-wide text-xl">BY THE NUMBERS</span>
				<h3 class="text-gray-700 text-4xl">The Migration Difference</h3>
				<div class=" flex items-center justify-center">
					<div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-6 pt-8 max-w-5xl">
						{stats.map((item) => (
							<div>
								<h2 class="text-4xl font-bold text-primary-500">{item.percentage}</h2>
								<p class="text-gray-800">{item.description}</p>
							</div>
						  ))}
						
					</div>
				</div>
			</div>
		</section>
	 	
		<!-- testimonial -->
		{
			testimonial && <section class="bg-gray-100 py-5 mx-2 sm:mx-0">
			<div class="max-w-screen-xl mx-auto py-10 px-5 md:px-5 rounded-2xl text-center">	
				<blockquote class="italic text-gray-700">
					<svg class="w-8 h-8 text-gray-300 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
						<path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
					</svg>
					<p class="text-2xl tracking-wider">"{testimonial}"</p>
					{testimonialAuthor && <img src={testimonialAuthorImage} alt={testimonialAuthor} class="w-12 h-12 rounded-full mx-auto mt-4" />}
					<cite class="block mt-2 text-gray-700">{testimonialAuthor}</cite>
					<cite class="block text-gray-700">{testimonialAuthorTitle}, {testimonialAuthorCompany} </cite>
				</blockquote>
			</div>
		</section>
		}

		<!-- case study details & TOC -->
		<section class="bg-gray-100 px-5 md:px-0">
			<div class="flex flex-col md:flex-row mx-auto max-w-6xl px-0 py-8">
				<!-- Blog Content -->
				<main class="w-full md:w-3/4 content-slot px-5">
					<slot />
				</main>		
		
				<!-- Table Of Content -->
				<aside class="hidden md:block md:w-1/4 pl-6">
					<div class="sticky top-4 p-4 bg-white shadow-lg rounded-lg">
						<h2 class="text-lg font-semibold mb-2">Table of Contents</h2>
						<ul class="text-sm space-y-2">
							{Astro.props.headings && Astro.props.headings.map(heading => (
								<li class="p-0.5" style={`margin-left: ${heading.depth * 10}px;`}>
									<a class="text-gray-500 hover:text-gray-800 transition toc" href={`#${heading.text.replace(/\s+/g, '-').toLowerCase()}`}>{heading.text}</a>
								</li>
							))}
						</ul>
					</div>
				</aside>				 		
			</div>
		</section>

		<!-- TODO: Read more case studies -->
		<CommonCTA /> 

		<Footer />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	</body>
</html>
